{% load staticfiles %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">  
  <a class="navbar-brand" href="/">
      QR Code
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav" style="margin-top: 0px;margin-right: -31px;">

      <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item dropdown mr-auto">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Types
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                <a class="dropdown-item" href="#">URL</a>
                <a class="dropdown-item" href="#">VCard</a>
                <a class="dropdown-item" href="#">Text</a>
                <a class="dropdown-item" href="#">E-mail</a>
                <a class="dropdown-item" href="#">SMS</a>
                <a class="dropdown-item" href="#">Facebook</a>
                <a class="dropdown-item" href="#">PDF</a>
                <a class="dropdown-item" href="#">MP3</a>
                <a class="dropdown-item" href="#">App Stores</a>
                <a class="dropdown-item" href="#">Images</a>
              </div>
            </li>
      </ul>
    </ul>
  </div>
      
</nav>
